* {
	box-sizing: border-box;
	font-family: "Roboto", helvetica, sans-serif;
}

main {
	text-align: center;
}

header {
  text-align: center;
  margin: 50px 0px 50px 0px;
}

form {
  margin-bottom: 10px;
}

button {
  width: 90px;
  margin-top: 10px;
}